<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings"
            type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BFDataCrawler.Properties.Settings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <section name="oracle.manageddataaccess.client"
            type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="PC_ManufaDataCrawler_Connection"
      value="Server=10.4.17.62;Database=PC_ManufaDataCrawler;Port=3306;Uid=root;Pwd=admin;SslMode=none;CharSet=utf8;respect binary flags=false;Allow User Variables=True;Convert Zero Datetime=True"/>
    <add key="CheckJig_UserLogin_Connection" value="Data Source=192.168.0.7;Initial Catalog=ProductionControl;User ID=user;Password=kuser;"/>
    <add key="DailyReportF4Connection" value="Data Source=10.4.24.114;Initial Catalog=DailyReportF4;User ID=user;Password=user;"/>
    <add key="BWDataCrawler_Connection" value="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 10.4.17.7)(PORT = 1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME =SPC4DBIPD.spclt.com.vn)));Password=SPC4DBI;User ID=SPC4DBIPD;"/>
    <add key="user" value="8290"/>
    <add key="pass" value="H_8290"/>
  </appSettings>
  <userSettings>
    <BFDataCrawler.Properties.Settings>
      <setting name="_hobBWTeethShape" serializeAs="String">
        <value />
      </setting>
      <setting name="_hobBWTeethQty" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="_hobCNCTeethShape" serializeAs="String">
        <value />
      </setting>
      <setting name="_hobCNCTeethQty" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="_noHobBWTeethShape" serializeAs="String">
        <value />
      </setting>
      <setting name="_noHobBWTeethQty" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="_noHobCNCTeethShape" serializeAs="String">
        <value />
      </setting>
      <setting name="_noHobCNCTeethQty" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="_spcMailSender" serializeAs="String">
        <value>PC_SPCF4@spclt.com.vn</value>
      </setting>
      <setting name="_spcMailReceiver" serializeAs="String">
        <value>PC_SPCF4@spclt.com.vn</value>
      </setting>
      <setting name="_spcMailCode" serializeAs="String">
        <value>spclt@123</value>
      </setting>
      <setting name="_hob11BW_TeethShape" serializeAs="String">
        <value />
      </setting>
      <setting name="_hob12BW_TeethShape" serializeAs="String">
        <value />
      </setting>
      <setting name="_hob9BWCNC_TeethShape" serializeAs="String">
        <value />
      </setting>
      <setting name="_hob10BWCNC_TeethShape" serializeAs="String">
        <value />
      </setting>
      <setting name="_hob9CNC_TeethShape" serializeAs="String">
        <value />
      </setting>
      <setting name="_hob10CNC_TeethShape" serializeAs="String">
        <value />
      </setting>
      <setting name="_hob11BW_TeethQuantity" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="_hob12BW_TeethQuantity" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="_hob9BWCNC_TeethQuantity" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="_hob10BWCNC_TeethQuantity" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="_hob9CNC_TeethQuantity" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="_hob10CNC_TeethQuantity" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="_hob11BW_Diameter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="_hob12BW_Diameter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="_hob9BWCNC_Diameter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="_hob10BWCNC_Diameter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="_noHobBW_Diameter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="_hob9CNC_Diameter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="_hob10CNC_Diameter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="_noHobCNC_Diameter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="_hob9BWCNC_DMat" serializeAs="String">
        <value />
      </setting>
      <setting name="_hob10BWCNC_DMat" serializeAs="String">
        <value />
      </setting>
      <setting name="_hob9CNC_DMat" serializeAs="String">
        <value />
      </setting>
      <setting name="_hob10CNC_DMat" serializeAs="String">
        <value />
      </setting>
      <setting name="_f1BW_Diameter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="_hob11BW_GlobalCode" serializeAs="String">
        <value />
      </setting>
      <setting name="_hob12BW_GlobalCode" serializeAs="String">
        <value />
      </setting>
      <setting name="_hob9BWCNC_GlobalCode" serializeAs="String">
        <value />
      </setting>
      <setting name="_hob10BWCNC_GlobalCode" serializeAs="String">
        <value />
      </setting>
      <setting name="_hob9CNC_GlobalCode" serializeAs="String">
        <value />
      </setting>
      <setting name="_hob10CNC_GlobalCode" serializeAs="String">
        <value />
      </setting>
    </BFDataCrawler.Properties.Settings>
  </userSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>
